@import 'paritails';

body {
    background-color: $textColor4;
    color: $textRed;
}

html {
    scroll-behavior: smooth;
}


#container {

    @include container_style
}


// Helvetica



// nav styling


// nav logo




.nav {
    @include nav_style
}

;

.header-title {
    color: $textColor6;
    @include setPadding(small);
    background-color: $bgnav2;
    box-shadow: $boxShadow5;
    border-radius: 5px;
    margin-left: 5px;
    letter-spacing: 2px;
}

.navbar {


    @extend .boxColumn
}



.navbar-brand {
    @extend .boxRow;
    margin: 20px;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.navbar-nav {
    width: 100%;

}

;



.navbar-item {
    list-style: none;
    border-bottom: 1px solid #eee;
}

;


.nav-link {
    @include display_block
}

;


.navbar-toggler>i {
    font-size: 2.2rem;
    padding: 10px;
    color: white;
    border-radius: 10px;
}


input[type='search'],
input-group[type='search']:focus {
    @include input_search
}

input-group[type='search']::placeholder {
    color: $textColor4;
}


//hero container

.hero-container {
    background-image: url('/asset/image/bg1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
    width: 100%;
    @extend .boxRow;
    position: relative;
    z-index: 99;

}

;

.hero-container::after {
    @include after_style
}





.hero-subtitle {
    font-size: 1.3rem;
    margin-bottom: 20px;
    color: $textColor;
    text-shadow: $fontShadow3;
    text-align: center
}

;

.hero-btn-group {
    text-align: center;
}

.button-common {
    @include btn_style
}


.hero-btn-one {
    @extend .button-common;
    background-color: $btnColor1;
    color: $textColor
}


.hero-btn-two {
    @extend .button-common;
    background-color: $btnColor2;
    color: $textColor
}







// about container


.about-subcontainer {
    @extend .boxColumn;
    @include paraStyleleft;
    color: $textColor7
}

;

.about-container-right {
    height: 300px;
}

.about-container-right-img {
    width: 100%;
    height: 100%;
}

.about-container-right-img img {
    @include img_block
}




// resume

.resume-sub-container {
    @extend .boxColumBwt
}

.resume-container-left {

    flex-basis: 100%;
    box-shadow: $boxShadow7;
}

.resume-container-right {
    flex-basis: 100%;
    margin-top: 50px
}





.resume-title h1 {

    @include paraStyleHeaderCenter;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;



}

.resume-profession {
    font-size: 1.2rem;
    margin: 15px 0;
    font-weight: 400;
    color: $textGreen;
    text-align: center;
}


.social-media-icon {
    @extend .boxRow;
    margin-bottom: 30px;

}

;

.social-media-icon a i {
    font-size: 1rem;
    margin: 0 10px;
}

;

.resume-btn-group {
    border-top: 2px solid $textColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 13px;

}

.resume-btn-one,
.resume-btn-two {
    border: none;
    padding: 10px 0;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: 1.4px;
    background-color: transparent;
    color: $textColor
}

;

.resume-container-expertisions {
    @extend .boxColumn
}


.resume-content {
    @extend .boxColumn
}


.experiences-container {

    line-height: 40px;
    padding: 0 16px;
}

.experiences-container>div {

    border-bottom: 1px solid $textColor;
    box-shadow: 2px $textColor;

}

;

.resume-container-title {

    padding-left: 15px;
    border-bottom: 2px solid #eee
}

;

.resume-container-title h1 {

    font-size: 2rem;
    padding-bottom: 1em;


}

;

.resume-container-title h1::first-letter {
    color: $textColor6;
    font-weight: 900;
    text-shadow: $fontShadow6;
    @include setFontSize(large);
}

.resume-container-title h1 {
    color: $textGreen;

}

.experience-title {
    @extend .boxRowStr
}

.experience-title i,
.experience-title h1 {
    font-size: 2rem;
    margin-right: 5px;
    color: $textColor9;
}





.experience-btns>button {
    border: 1px solid $textColor2;
    padding: 5px;
    background-color: transparent;
    color: $textColor6;
    border-radius: 5px;
    font-size: 13px;
}


.designation {
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 2px;
    opacity: .9;
    font-family: sans-serif;
}

.company-title,
.experience-description {
    opacity: .5;
    margin-bottom: 15px;
    font-weight: 500;
    font-family: sans-serif;
}

;

#ex-btn1 {
    border: 2px solid $textBlue;
    color: $textColor8;
    background-color: $btnColor2;
    padding: 5px;
    border-radius: 5px;
    opacity: 0.5;

}




// skill design here


.skill-container {
    margin-top: 30px;
}

.skill-content-title h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: center;
    color: $textColor3
}

;


.skill-content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    text-align: left
}

;

.skills {
    border: 1px solid $boxShadow8;
    box-shadow: $boxShadow2;
    margin: 10px;
    padding: 14px;
    background-color: $textColor;
}


.skill-title {
    margin: 10px 0px;
    display: flex;



}




#subkill-title,
#protfolio-title,
#certification-title {
    color: $textGreen;
    text-shadow: $fontShadow5;
    @include setFontSize(xxlarge);
    text-transform: uppercase
}

;

.skill-icon i {
    font-size: 2.4rem;
    margin-right: 10px;
    color: #4caf50;
    display: block;

}




.skill-subtitle {
    font-size: .8rem;
    font-weight: 700;
    margin-bottom: 15px;
    color: $textColor6;
}

.skill-text {
    font-size: 12px;
    color: $textBlue;
    opacity: .7;
}

.skill-progress-bar progress {
    max-width: 200px;
    padding: 10px;
}







// protfolio

.protfolio-content {
    @extend .boxGrid1;

}


.portfolio-content-title {
    @extend .boxColumn
}


.protfolio-item {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: $boxShadow2;
    margin: 10px auto;
    padding: 14px 13px;
    background-color: $textColor;

}


.protfolio-image {
    width: 100%;

}

.protfolio-image img {
    @include img_block
}

;


.protfolio-description {
    line-height: 35px;
    color: rgb(14, 199, 24);
    opacity: .6;

}







// certificates

.certificate-subtitle h2 {
    text-align: center;
}

.line {
    @include line_style($color: $textColor7);
}

.inner-line {
    position: absolute;
    background-color: $textColor6;
    height: 3px;
    width: 60%;

}


.certificate-card {
    @extend .boxGrid1
}

.card {
    display: flex;
    border: 3px solid $textColor;
    transition: transform 0.4s ease;



}

.card:hover {
    transform: translateY(-0.7rem)
}

;

.card-img {
    background-color: $bg2;
    margin: 0 auto;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card-img img {
    display: block;
    width: 40%;


}

.card-description {
    line-height: 25px;
    padding: 14px 12px;
    background-color: $textColor;
    flex-basis: 50%;
}

.card-description h3 {
    font-size: 13px;
    color: $textColor;
}

.card-description p {
    opacity: .7;
}





// contact form and adress


.contact-container {
    @extend .boxColumn
}



.contact-form-title {
    margin: 10px 14px;


}

.contact-form-title h1 {
    font-size: 2rem;
    text-align: center;
    color: $textColor6;



}

;


.row {
    display: flex;
}

.col-md-6 {
    flex-basis: 50%;
    margin: 10px 0px;
}

.col-md-12 {
    flex-basis: 100%;
}

input[type='text'],
input[type='email'] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $textBlue;
    margin-right: 5px;
    border: 1px solid $textGreen;
}

;




textarea {
    @include textarea
}

label {
    margin-bottom: 24px;
    opacity: 0.8;
    color: $textColor9
}



.form-btn-group {
    display: flex;
    justify-content: start;
    align-items: center;
}

.form-btn-group button {
    @extend .button-common
}

.form-btn-group button:first-child {
    background-color: $btnColor1;
    color: $textColor;
    font-size: 1.1rem;
}

.form-btn-group button:last-child {
    background-color: $btnColor2;
    color: $textColor;
    font-size: 1.1rem;
}

.social-media-icon1 {
    display: flex;
    justify-content: start;
    gap: 15px;
    margin: 10px 14px;
}

.social-media-icon1 i {
    font-size: 1.5rem;
    color: $textColor;
    background-color: $textColor6;
    padding: 5px;
    border-radius: 5px;
    vertical-align: middle;
}

.media-title {
    color: $textColor;
    opacity: .7;
    font-size: 1.2rem;
    letter-spacing: 2px;
}


.contact-address {
    @extend .boxColumn;
    width: 100%;
    height: 100%;
    padding: 15px 10px;



}

.contact-address-title,
.contact-address-info,
.map-title {
    color: $textColor6;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
}



.contact-google-map {
    max-width: 100%;
    height: 400px;
    @extend .boxColumn;

}

.contact-google-map iframe {
    width: 70%;
    height: 70%;
    border: none;


}









/* footer */
footer {
    margin: 70px 20px;
    color: $headerText3;
}

.footer--content {
    @extend .boxColumn;

}


.footer--content div {
    flex-basis: 24%;
    line-height: 35px;
    margin-left: 10px;
}


.footer--about--description {
    font-size: 13px;
}


.footer--about--social--icons i {

    font-size: 20px;
    margin: 10px 5px;

}


.footer-emial--form input[type="email"] {
    @include input_search
}

.footer-emial--form button {
    @include btn_style;
    background-color: $btnColor1;
    color: $textColor;
}









@media screen and (min-width: 1100px) {

    // navbar

    .navbar {
        @include nav_style1
    }

    ;

    .navbar-nav {
        text-align: right;
    }



    .navbar-item {
        @include navitem
    }

    ;

    .nav-link {
        @include navlink
    }

    ;


    #navbar-toggler {
        display: none;
    }




    // about container

    .about-subcontainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        gap: 15px;
        padding: 10px;

    }

    ;


    .about-container-left {

        flex-basis: 70%;
        line-height: 30px;

    }

    .about-container-right-img img {
        width: 300px;
        height: 350px;
        object-fit: cover;
    }

    .about-container-right {
        flex-basis: 30%;

    }





    // certification

    .certificate-card {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 15px;
        max-width: 700px;
        margin: 10px auto;
    }






    // contact form


    .contact-container {
        display: flex;
        flex-direction: row;
        justify-content: center;


    }

    .contact-form {
        flex-basis: 40%;
    }

    .contact-address {
        flex-basis: 50%;
        display: flex;
    }





    // footer



    .footer--content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;

    }


    // skill

    .skill-content {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr))
    }


    .skill-title {
        margin: 10px 0px;
        display: flex;
        justify-content: center;
    }

    ;




    // protfolio


    .protfolio-content {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        justify-content: center;
        align-content: center;
        gap: 15px;
    }





    // resume

    .resume-sub-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }


    .resume-container-left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
    }


    .resume-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        min-height: 500px;


    }






    .but {
        background-image: linear-gradient(to right,
                $textColor6,
                $textColor7 50%,
                $textColor9 50%);
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 5px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
    }

    .but:before {
        content: '';
        background: $textRed;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
    }

    .but:hover {
        background-position: 0;
    }

    .but:hover::before {
        width: 100%;
    }













}