.boxRow, .social-media-icon, .hero-container, .navbar-brand {
  display: flex;
  flex: row;
  justify-content: center;
  align-items: center;
}

.boxColumn, .footer--content, .contact-google-map, .contact-address, .contact-container, .portfolio-content-title, .resume-content, .resume-container-expertisions, .about-subcontainer, .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxColumBwt, .resume-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.boxRowStr, .experience-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
  padding-bottom: 50px;
}

.boxRowaround {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  gap: 15px;
  padding: 10px;
}

.boxGrid1, .certificate-card, .protfolio-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.boxGrid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.boxGrid3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.boxMargin {
  margin: 10px auto;
  text-align: center;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Fredoka, inter, sans-serif;
  list-style: none;
  text-decoration: none;
}

#container {
  padding: 40px;
  margin: 20px auto;
  max-width: 1360px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav {
  border-bottom: 1px solid #2E073F;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header-title {
  color: #E90074;
  padding: 10px;
  background-color: #73EC8B;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 5px;
  margin-left: 5px;
  letter-spacing: 2px;
}

.navbar-brand {
  margin: 20px;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navbar-nav {
  width: 100%;
}

.navbar-item {
  list-style: none;
  border-bottom: 1px solid #eee;
}

.nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  font-size: 1.3rem;
}

.navbar-toggler > i {
  font-size: 2.2rem;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

input[type=search],
input-group[type=search]:focus {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #2806be;
}

input-group[type=search]::-moz-placeholder {
  color: #010140;
}

input-group[type=search]::placeholder {
  color: #010140;
}

.hero-container {
  background-image: url("/asset/image/bg1.jpg");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  width: 100%;
  position: relative;
  z-index: 99;
}

.hero-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.199);
  z-index: 98;
}

.hero-subtitle {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #F1F3C2;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.hero-btn-group {
  text-align: center;
}

.button-common, .form-btn-group button, .hero-btn-two, .hero-btn-one {
  width: 100px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-weight: 900;
  border: none;
}

.hero-btn-one {
  background-color: #E4003A;
  color: #F1F3C2;
}

.hero-btn-two {
  background-color: #405D72;
  color: #F1F3C2;
}

.about-subcontainer {
  line-height: 30px;
  padding: 15px;
  margin: 10px;
  text-align: left;
  color: #37B7C3;
}

.about-container-right {
  height: 300px;
}

.about-container-right-img {
  width: 100%;
  height: 100%;
}

.about-container-right-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.resume-container-left {
  flex-basis: 100%;
  box-shadow: rgba(117, 240, 46, 0.466) -5px 5px, rgba(46, 240, 46, 0.473) -10px 10px, rgba(57, 233, 13, 0.295) -15px 15px, rgba(65, 241, 11, 0.308) -20px 20px, rgba(83, 231, 15, 0.404) -25px 25px;
}

.resume-container-right {
  flex-basis: 100%;
}

.resume-title h1 {
  line-height: 70px;
  margin: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.resume-profession {
  font-size: 1.2rem;
  margin: 15px 0;
  font-weight: 400;
  color: #0adb15;
  text-align: center;
}

.social-media-icon {
  margin-bottom: 30px;
}

.social-media-icon a i {
  font-size: 1rem;
  margin: 0 10px;
}

.resume-btn-group {
  border-top: 2px solid #F1F3C2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 13px;
}

.resume-btn-one,
.resume-btn-two {
  border: none;
  padding: 10px 0;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1.4px;
  background-color: transparent;
}

.experiences-container {
  line-height: 40px;
  padding: 0 16px;
}

.experiences-container > div {
  border-bottom: 1px solid #F1F3C2;
  box-shadow: 2px #F1F3C2;
}

.resume-container-title {
  padding-left: 15px;
  border-bottom: 2px solid #eee;
}

.resume-container-title h1 {
  font-size: 2rem;
  padding-bottom: 1em;
}

.resume-container-title h1::first-letter {
  color: #E90074;
  font-weight: 900;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1), 10px 20px 5px rgba(0, 0, 0, 0.05), -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.resume-container-title h1 {
  color: #0adb15;
}

.experience-title i,
.experience-title h1 {
  font-size: 2rem;
  margin-right: 5px;
  color: #6EC207;
}

.experience-btns > button {
  border: 1px solid #2E073F;
  padding: 5px;
  background-color: transparent;
  color: #E90074;
  border-radius: 5px;
  font-size: 13px;
}

.designation {
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 2px;
  opacity: 0.9;
  font-family: sans-serif;
}

.company-title,
.experience-description {
  opacity: 0.5;
  margin-bottom: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

#ex-btn1 {
  border: 2px solid #3A1078;
  color: #000000;
  background-color: #405D72;
  padding: 5px;
  border-radius: 5px;
  opacity: 0.5;
}

.skill-container {
  margin-top: 30px;
}

.skill-content-title h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 600;
  text-align: center;
  color: #1E201E;
}

.skill-content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  text-align: left;
}

.skills {
  border: 1px solid blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10px;
  padding: 14px;
}

.skill-title {
  margin: 10px 0px;
  display: flex;
}

#subkill-title,
#protfolio-title,
#certification-title {
  color: #0adb15;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
}

.skill-icon i {
  font-size: 2.4rem;
  margin-right: 10px;
  color: #4caf50;
  display: block;
}

.skill-subtitle {
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: #E90074;
}

.skill-text {
  font-size: 12px;
  color: #3A1078;
  opacity: 0.7;
}

.skill-progress-bar progress {
  max-width: 200px;
  padding: 10px;
}

.protfolio-item {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 10px auto;
  padding: 14px 13px;
}

.protfolio-image {
  width: 100%;
}

.protfolio-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.protfolio-description {
  line-height: 35px;
  color: rgb(14, 199, 24);
  opacity: 0.6;
}

.certificate-subtitle h2 {
  text-align: center;
}

.line {
  background-color: #37B7C3;
  height: 3px;
  width: 150px;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
  margin-bottom: 45px;
}

.inner-line {
  position: absolute;
  background-color: #E90074;
  height: 3px;
  width: 60%;
}

.card {
  display: flex;
  border: 3px solid #F1F3C2;
  transition: transform 0.4s ease;
}

.card:hover {
  transform: translateY(-0.7rem);
}

.card-img {
  background-color: #181C14;
  margin: 0 auto;
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img img {
  display: block;
  width: 40%;
}

.card-description {
  line-height: 25px;
  padding: 14px 12px;
  background-color: #F1F3C2;
  flex-basis: 50%;
}

.card-description h3 {
  font-size: 13px;
  color: #F1F3C2;
}

.card-description p {
  opacity: 0.7;
}

.contact-form-title {
  margin: 10px 14px;
}

.contact-form-title h1 {
  font-size: 2rem;
  text-align: center;
  color: #E90074;
}

.row {
  display: flex;
}

.col-md-6 {
  flex-basis: 50%;
  margin: 10px 0px;
}

.col-md-12 {
  flex-basis: 100%;
}

input[type=text],
input[type=email] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #3A1078;
  margin-right: 5px;
  border: 1px solid #0adb15;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  min-height: 150px;
  resize: none;
  color: blue;
  font-size: 1.1rem;
  border: 1px solid #73EC8B;
}

label {
  margin-bottom: 24px;
  opacity: 0.8;
  color: #6EC207;
}

.form-btn-group {
  display: flex;
  justify-content: start;
  align-items: center;
}

.form-btn-group button:first-child {
  background-color: #E4003A;
  color: #F1F3C2;
  font-size: 1.1rem;
}

.form-btn-group button:last-child {
  background-color: #405D72;
  color: #F1F3C2;
  font-size: 1.1rem;
}

.social-media-icon1 {
  display: flex;
  justify-content: start;
  gap: 15px;
  margin: 10px 14px;
}

.social-media-icon1 i {
  font-size: 1.5rem;
  color: #F1F3C2;
  background-color: #E90074;
  padding: 5px;
  border-radius: 5px;
  vertical-align: middle;
}

.media-title {
  color: #010140;
  opacity: 0.7;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.contact-address {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
}

.contact-address-title,
.contact-address-info,
.map-title {
  color: #E90074;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
}

.contact-google-map {
  max-width: 100%;
  height: 400px;
}

.contact-google-map iframe {
  width: 70%;
  height: 70%;
  border: none;
}

/* footer */
footer {
  margin: 70px 20px;
  color: #88D66C;
}

.footer--content div {
  flex-basis: 24%;
  line-height: 35px;
  margin-left: 10px;
}

.footer--about--description {
  font-size: 13px;
}

.footer--about--social--icons i {
  font-size: 20px;
  margin: 10px 5px;
}

.footer-emial--form input[type=email] {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #2806be;
}

.footer-emial--form button {
  width: 100px;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
  font-weight: 900;
  border: none;
  background-color: #E4003A;
  color: #F1F3C2;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border: 1px solid #ccc;
    padding: 15px;
  }
  .navbar-nav {
    text-align: right;
  }
  .navbar-item {
    list-style: none;
    border: none;
    display: inline-block;
    margin-right: 15px;
  }
  .nav-link {
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    display: inline;
  }
  #navbar-toggler {
    display: none;
  }
  .about-subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    gap: 15px;
    padding: 10px;
  }
  .about-container-left {
    flex-basis: 70%;
    line-height: 30px;
  }
  .about-container-right-img img {
    width: 300px;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about-container-right {
    flex-basis: 30%;
  }
  .certificate-card {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 15px;
    max-width: 700px;
    margin: 10px auto;
  }
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contact-form {
    flex-basis: 40%;
  }
  .contact-address {
    flex-basis: 50%;
    display: flex;
  }
  .footer--content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
  .skill-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .skill-title {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
  }
  .protfolio-content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    align-content: center;
    gap: 15px;
  }
  .resume-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .resume-container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
  }
  .resume-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 500px;
  }
}/*# sourceMappingURL=style.css.map */